page-loading-modules {

  .moduleFirst {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
  }

  .moduleOthers {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 14px;
  }

  .textModule {
    font-size: 19px;
    padding-right: 8px;
    float: left;
  }

  .iconSize {
    font-size: 23px;
  }




}
